.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b4acd;
    margin-bottom: 30px;
}
.navbar h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color: rgb(5, 5, 5);
    font-style: italic;
    font-weight: bold;
    /* text-decoration: underline; */
    font-size: 25px;
}