.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px; */
    /* align-items: center;*/
}
input{
  padding: 10px;
  margin-right: 30px;
}
.searchbar-btn{
    background: #ce2525;
    margin-left: 10px;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  border-radius: 2px;
  color: white;
}
.searchbar-btn:before{
    content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}
.searchbar-btn:hover{
    color:#fff;
}
.searchbar-btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}